#table {
 border-collapse: collapse;
 border: solid;
}

td {
 border: 1px solid grey;
 text-align: center;
 
}

.arrestLog-area{
  width: 70%;
  height: 200px;
  border: 2px solid lightgray;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  overflow: auto;
}

.arrestLog-area:hover{
  cursor: pointer;
}

.arrestLog-area h4{
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 50px;
  color: darkslategray;
}

#file{
  display: none;
}

/* Thumbnail */
.thumbnail{
  width: 80px;
  height: 80px;
  padding: 2px;
  border: 2px solid lightgray;
  border-radius: 3px;
  float: left;
}

.size{
  font-size:12px;
}
.custom-file-label {
 font-size: 14px;
}

label {
 font-weight: bold
}
#compareButton:disabled {
 background: gray;
 color: gray;
}

